
services:
  pgbouncer-task:
    image: edoburu/pgbouncer:latest
    container_name: pgbouncer-task
    environment:
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: postgres-task
      DB_PORT: 5432
      DB_NAME: task_db
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 10000
      DEFAULT_POOL_SIZE: 50
    ports:
      - "6432:5432"
    networks:
      - microservices-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  pgbouncer-user:
    image: edoburu/pgbouncer:latest
    container_name: pgbouncer-user
    environment:
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: postgres-user
      DB_PORT: 5432
      DB_NAME: user_db
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 10000
      DEFAULT_POOL_SIZE: 50
    ports:
      - "6433:5432"
    networks:
      - microservices-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure