version: '3.8'

services:
  # Базы данных
  postgres-user:
    image: postgres:17
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - user-data:/var/lib/postgresql/data

  postgres-task:
    image: postgres:17
    environment:
      POSTGRES_DB: task_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - task-data:/var/lib/postgresql/data

  # Микросервисы
  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    depends_on:
      - postgres-user
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-user:5432/user_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

  task-service:
    build: ./task-service
    ports:
      - "8082:8082"
    depends_on:
      - postgres-task
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-task:5432/task_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      USER_SERVICE_URL: http://user-service:8081

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - task-service
    environment:
      USER_SERVICE_URL: http://user-service:8081
      TASK_SERVICE_URL: http://task-service:8082

  # Фронтенд
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - api-gateway

volumes:
  user-data:
  task-data: